# Compiled things
artifacts
build
cache
dist
out
.rollup.cache

# Logs
logs
*.log
npm-debug.log*
*.old

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules

# Optional npm cache directory
.npm
.env*

# Mac
.DS_Store

# changesets
.changeset
